@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Baloo+Tamma+2&family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tamma 2';
  background: #f1f1f1b9;
  background-image: linear-gradient(to bottom, white, #171E26);
}

.App {
  margin: auto;
  padding: 5%;
  width: 80%;
  background: white;
  border: 1px solid #e7e7e7;
  box-shadow: 5px 5px 40px 5px #cecece;
  border-radius: 20px;
  
}

.App h1 {
  margin: 40px auto;
  text-align: center;
  font-family: 'Alegreya Sans SC';
  letter-spacing: 6px;
  font-size: 60px;
  color: rgb(66, 66, 66);
}

.results-view {
  border: 1px solid black;
  min-height: 500px;
}

footer {
  min-height: 100px;
}

.run-query-btn {
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  color: #171E26;
  outline: none;
}

.run-query-btn:hover {
  background-color: #171E26;
  color: white;

}
