@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Baloo+Tamma+2&family=Poiret+One&display=swap');

$div-background: #7878805b; /*placeholder color*/
$app-background: #2c2c2eff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  color: #ffffff;
  background: $app-background;
  border: 1px solid #e7e7e7;
  box-shadow: 5px 5px 40px 5px #cecece;
  border-radius: 5px;
  margin: auto;
  padding: 1%;
  width: 80%;
}

.App h1 {
  margin: 40px auto;
  text-align: center;
  font-family: 'Alegreya Sans SC';
  letter-spacing: 6px;
  font-size: 60px;
}

body {
  font-family: 'Baloo Tamma 2';
  background-image: linear-gradient(to bottom, white, #171E26);
}

.dashboard-container {
  border-radius: 5px;
  margin-top: 5vh;
  padding: 10px;
}

.dashboard-container > div {
  background: $div-background; /*placeholder color*/
  border-radius: 5px;
  padding: 10px;
}

@media screen and (min-width: 568px) { 
  /* flexbox divs */
  .dashboard-container {
    // display: flex;
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
      "query metrics"
      "button-query button-cache"
      "results graph";
  }

/* dashboard divs */
  .query-div {
    grid-area: query;
  }

  .button-query-div {
    grid-area: button-query;
  }

  .results-div {
    grid-area: results;
  }

  .metrics-div {
    grid-area: metrics;
  }

  .button-cache-div {
    grid-area: button-cache;
  }

  .graph-div {
    grid-area: graph;
  }

}

textarea {
  background: #f7f7f7;
  color: #3c3c3c;
  font-size: 16px;
  outline: none;
  border: 1px solid #888888;
  border-radius: 2px;
  width: 100%;
  height: 30%;
  padding: 10px;
}

button {
  color: #ffffff;
  background: #26ae48;
  border-radius: 6px;
  border: 1px solid #566f8b;
  width: 100%;
  // margin: 10px 0;
  padding: 5px;
  outline: none;
}

button:hover {
  background: #30d158ff;
  cursor: pointer;
}

// button:active {
//   background: #30d158ff;
// }

.results-view {
  background: #3c3c3c;
  color: #85e6e1;
  font-size: 16px;
  border: 1px solid #888888;
  border-radius: 2px;
  width: 100%;
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}

footer {
  min-height: 50px;
}

