@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Baloo+Tamma+2&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$div-background: #7dd0e9;
$app-background: white;

//Quell Palette
$quell-lightest: #d0e4ea;
$quell-light: #a6d1dc;
$quell-medium: #7dd0e9;
$quell-dark: #40677a;
$quell-darkest: #082032;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
  color: $quell-darkest;
}

// ====== TOP HEADER SECTION ======

#logo-main-container {
  display: flex;
  justify-content: center;
}

#logo-main {
  width: 95%;
  padding: 2%;
  margin-bottom: 2%;
}

header {
  border-bottom: 2px solid $quell-light;
}

.header-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 2%;
}

.header-links li a {
  text-decoration: none;
  color: $quell-dark;
}

.header-links li a:hover {
  text-decoration: underline;
}

// ====== INFO SECTION ======

#info-header-container {
  display: flex;
}

#info-header {
  width: 40%;
  margin: 20px auto;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

// ====== DEMO SECTION ======

#demo {
  margin-bottom: 10%;
}

#demo-header-container {
  display: flex;
}

#demo-header {
  width: 50%;
  margin: 20px auto;
}

.query-div-title {
  font-size: 2em;
}

.dashboard-grid {
  border-radius: 5px;
  // margin-top: 5vh;
  padding: 10px;
}

.dashboard-grid > div {
  background: $quell-lightest;
  border-radius: 5px;
  padding: 10px;
}

.timer-div,
.cache-storage-div {
  font-family: 'Rubik', sans-serif;
  background: white;
  // border: 1px solid #141415;
  border-radius: 5px;
  padding: 50px 2px;
  min-width: 15vw;
  min-height: 15vh;
}

textarea {
  // background: #dcdcdc;
  color: #3c3c3c;
  font-size: 16px;
  outline: none;
  border: 1px solid #888888;
  border-radius: 2px;
  width: 100%;
  // height: 30vh;
  height: 12vh;
  padding: 10px;
}

button {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid #566f8b;
  width: 100%;
  height: 50px;
  // margin: 10px 0;
  padding: 5px;
  outline: none;
}

/* Button - Run Query */
.button-query {
  background: #21983f;
}

.button-query:hover {
  background: #2cbd50;
  cursor: pointer;
}

.button-query:active {
  background: #21983f;
}

/* Button - Clear Cache */
.button-cache {
  background: #c67906;
}

.button-cache:hover {
  background: #f09308;
  cursor: pointer;
}

.button-cache:active {
  background: #c67906;
}

.results-view {
  background: #3c3c3c;
  color: #85e6e1;
  font-size: 16px;
  border: 1px solid #2c2c2eff;
  border-radius: 2px;
  width: 100%;
  height: 30vh;
  padding: 10px;
  overflow-y: scroll;
}

.metric-value {
  font-size: 3.5em;
}

.trend {
  background: $app-background;
  border: 1px solid $quell-medium;
  border-radius: 5px;
  height: 30vh;
}

// ====== TEAM SECTION ======

#team-quell {
  width: 75%;
  padding: 2%;
  margin-bottom: 10%;
}

#team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pics {
  width: 55%;
  max-width: 400px;
  margin-bottom: 4%;
}

.profile-pics img {
  margin-bottom: 4%;
}

.team-member-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons img {
  width: 15%;
  margin-top: 10px;
  margin-left: 10px;
}

// ================= LARGE VIEWPORT ====================

@media screen and (min-width: 568px) {
  // ====== TOP HEADER SECTION ======

  #logo-main {
    max-width: 800px;
  }

  // ====== INFO SECTION ======

  #info-header {
    max-width: 250px;
  }

  // ====== DEMO SECTION ======

  #demo {
    margin-bottom: 50px;
  }

  #demo-header {
    max-width: 310px;
  }

  /* Dashboard Grid */
  .dashboard-grid {
    // display: flex;
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      'query metrics'
      'button-query button-cache'
      'results graph';
  }

  /* dashboard divs */
  .query-div {
    grid-area: query;
  }

  .button-query-div {
    grid-area: button-query;
    padding: 0 !important;
  }

  .results-div {
    grid-area: results;
  }

  .metrics-div {
    grid-area: metrics;
  }

  .button-cache-div {
    grid-area: button-cache;
    padding: 0 !important;
  }

  .graph-div {
    grid-area: graph;
  }

  /* Metrics Grid */
  .metrics-grid {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 'timer-div cache-storage-div';
  }

  .timer-div {
    grid-area: timer-div;
  }

  .cache-storage-div {
    grid-area: cache-storage-div;
  }

  // ====== TEAM SECTION ======

  #team-quell {
    max-width: 450px;
    margin-bottom: 50px;
  }

  .profile-pics {
    max-width: 250px;
  }
}
