.main_container {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-gap: 0px;
  margin-top: 5px;
}

.segmented_wrapper {
  align-content: center;
  width: 99%;
  height: 400px;
  border: 1px solid black;
  padding: 3px;
}

.inputBox {
  display: grid;
  width: 99%;
  min-height: 200px;
  border: 1px solid black;
  }

.button_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  grid-gap: 0.5rem;
  grid-template-columns: 50% 50%; 
}