@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.panel {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-gap: 0px;
  margin-top: 5px;
}

.segmented_wrapper {
  align-content: center;
  width: 100%;
  height: 370px;
  // border: 1px solid rgb(104, 107, 112);
  padding: 5px;
  overflow-y: scroll;
  color: white;

  &::-webkit-scrollbar {
    display: none;
  }
}

.inputBox {
  display: grid;
  width: 100%;
  min-height: 200px;
  // border: 1px solid rgb(104, 107, 112);
  }

.button_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  grid-gap: 0.5rem;
  grid-template-columns: 50% 50%; 
}

.CodeMirror {
  border: 1px solid rgb(85, 84, 84);
}

.query_input .CodeMirror {
  height: 285px;
  min-width: 400px;
  width: calc(100% - 0px);
}

.query_output .CodeMirror {
  height: 370px;
}

#settings_form {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 50%;
  color: white;
}

#metrics-container {
  height: 335px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/** overhaul **/
#navbar {
  background-color: #222222;
  border-width: 0 0 2px;
  border-color:rgb(104, 107, 112);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navbutton {
  background-color: #222222;
  color: #999999;
  border: none;
  font-weight: bold;
  margin-left: 10px;

}

button:hover {
  background-color: #444;
}

#logo-img {
  padding-left:10px;
  height: 10px;
  width: auto;
}

.queryTab {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 20px;
}

#metrics-container {
  max-height: 100px;
}

.editorButtons {
  background-color: #222222;
  border: none;
  color:#999;
  padding: 3px 15px 3px 15px;
}

.settingsTab {
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap:5px;
}

input {
  background-color: #2b2a2a;
  padding-left: 3px;
  color: #999;
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #999;
}

input:hover {
  background-color: #505050;
}

.settingInputsDesc {
  font-size: .75rem;
  color: #888;
}

.configSettings {
  align-content: center;
  width: 100%;
  height: 300px;
  // border: 1px solid rgb(104, 107, 112);
  padding: 5px;
  overflow-y: scroll;
  color: white;

  &::-webkit-scrollbar {
    display: none;
  }
}

.networkTab {
  padding-left: 10px
}

#network-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px
}

table {
  margin-left:10px;
  border: 1px solid #999;
  padding: -10px;
  min-height: 300px;
}

th {
  border: 1px solid #999;
  background-color: #989898;
  max-height: 1rem;
}

tr:hover {
  background-color: #444;
}

/******* CSS for SplitPane Resizer *******/
// DO NOT TOUCH WITHOUT REFERRING TO react-split-pane
.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  height: 300px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/******* CSS for Network Page *******/

#dataTable_container {
  display: flex;
  flex-direction: column;
}

.headersBox {
  height: 269px;
  overflow: scroll;
  margin: 0 10px 0 10px;
}

#queryExtras {
  border: 1px solid #999;
  padding: 2px;
  width: 99%;
}

.networkNavBar {
  height:25px;
  background-color: #999;
  display: flex;
  justify-content: space-evenly;
}

.networkNavbutton {
  background-color: #999;
  color: white;
  font-weight: bold;
  width: 33.333%;
  border: none;
}

.networkNavbutton:hover {
  background-color: #777;
}

.networkTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  border-width: 0 2px;
  border-color: white;
}


.statsColumns {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  
}

/******* CSS for cache data page *******/
// general table column splitting - establishs 4 evenly title tabs
.tableColumns{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}

// formatting for title bar
.titleElements {
  display: flex;
  border: 1px solid #999;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 3px 10px 3px 10px;
}

// establishing sub-tables under each title
.table {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

// evenly splits grid in each sub-table for value pairs
.subStats {
  display:grid;
  grid-template-columns: 50% 50%;
}

/******* For the entire extension *******/
// padding for the sticky header
.extensionTabs {
  margin-top: 20px;
}
