@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

h6 {
  font-weight: 300;
}

.panel {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-gap: 0px;
  margin-top: 5px;
}

.segmented_wrapper {
  align-content: center;
  width: 100%;
  height: 370px;
  // border: 1px solid rgb(104, 107, 112);
  padding: 5px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.inputBox {
  display: grid;
  width: 100%;
  min-height: 200px;
  // border: 1px solid rgb(104, 107, 112);
  }

.button_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  grid-gap: 0.5rem;
  grid-template-columns: 50% 50%; 
}

#navbar {
  height: 25px;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-left: 40px;
}

#logo {
  // padding-left: 30px;
  padding-right: 40px;
  justify-self: flex-start;
  padding-top: 10px;
}

#logo-img {
  height: 35px;
}

#editor {
  border: 1px solid rgb(104, 107, 112);
}

.CodeMirror {
  border: 1px solid rgb(85, 84, 84);
}

.query_input .CodeMirror {
  height: 300px;
  width: calc(100% - 0px);
}

.query_output .CodeMirror {
  height: 335px;
  // max-height: 370px;
  width: calc(100% - 0px);
}

#settings_form {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 50%;
}

#metrics-container {
  height: 335px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#speed-graph {
  min-height: 200px;
}
