@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/******* Global CSS for extension *******/
html {
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
}
 
p { 
  font-size: 0.8rem;
}

// gives border to codemirror editors
.CodeMirror {
  border: 1px solid rgb(85, 84, 84);
}

button:hover {
  background-color: #444;
}

/******* CSS for Nav Bar *******/
#logo-img {
  padding-left:10px;
  height: 10px;
  width: auto;
}

#navbar {
  background-color: #222222;
  border-width: 0 0 2px;
  border-color:rgb(110, 110, 110);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navbutton {
  background-color: #222222;
  color: #ccc;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  font-size: 0.8rem;
}

/******* CSS for Query Tab *******/
// splits editor area from Metrics
.queryTab {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 20px;
}

// limits height & width of the input editor
.query_input_editor .CodeMirror {
  height: 250px;
  min-width: 400px;
}

// limits height of output editor to keep elements in line with input editor
.query_output_editor .CodeMirror {
  height: 272px;
}

// css for 'Submit Query' and 'Clear Cache'
.editorButtons {
  background-color: #222222;
  border: none;
  color:#999;
  width: 50%;
  padding: 3px 0 3px 0;
}

/******* CSS for NetworkTab *******/
.networkTab {

}

#network-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px
}

table {
  font-size: 0.8rem;
  padding: -10px;
}

#network-request-table {
  border: 1px solid #444;
  margin-left: 10px;
  height: 250px;
}

th {
  background-color: #444;
}

td {
  height: 10px;
  padding: 3px 0 3px;
}

tr:hover {
  background-color: #444;
}

#dataTable_container {
  display: flex;
  flex-direction: column;
}

.headersBox {
  height: 221px;
  overflow: scroll;
  margin: 0 10px 0 10px;
  font: 0.8rem;
}

#queryExtras {
  border: 1px solid #999;
  padding: 2px;
  width: 99%;
  height: 246px;
  overflow-x: hidden;
  body::-webkit-scrollbar {
    display: none;
  }
}

.networkNavBar {
  background-color: #999;
  display: flex;
  justify-content: space-evenly;
}

.networkNavButton {
  background-color: #222;
  color: #999;
  font-weight: bold;
  width: 33.333%;
  border: none;
  font-size: 0.8rem;
}

.networkTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  border-width: 0 2px;
  border-color: white;
}

.statsColumns {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.network_editor .CodeMirror {
  height: 221px;
  width: calc(100% - 2px);
  border: none;
}


/******* CSS for cache data page *******/
// evenly splits grid in each sub-table for value pairs
.subStats {
  display:grid;
  grid-template-columns: 66.666% 33.333%;
  font-size: 0.8rem;
}

/******* For the entire extension *******/
// padding for the sticky header
.extensionTabs {
  margin-top: 20px;
}

.Cache_Server {
  display: grid;  
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
}

// aligns selectable table to server cache table
.cacheTables {
  margin-top: -19px;
}

.cacheNavButton {
  border: none;
  width: 33.333%;
  background-color: #222;
  color: #ccc;
  font-weight: bold;
}

/******* CSS for SplitPane Resizer *******/
// DO NOT TOUCH WITHOUT REFERRING TO react-split-pane
.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  height: 272px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/******* CSS for Settigns Tab *******/
.settingsTab {
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap:5px;
}

// sets up underline and input boxes for settings
input {
  background-color: #2b2a2a;
  padding-left: 3px;
  color: #999;
  width: 98%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #999;
}

input:hover {
  background-color: #505050;
}

.configSettings {
  border: 1px solid #666;
}

.settingInputsDesc {
  font-size: .75rem;
  color: #888;
}

.configSettings {
  font-size: 0.8rem;
  align-content: center;
  width: 100%;
  height: 200px;
  // border: 1px solid rgb(104, 107, 112);
  padding: 5px;
  overflow-y: scroll;
  color: white;

  &::-webkit-scrollbar {
    display: none;
  }
}

.schema_editor .CodeMirror {
  height: 210px;
}